@font-face {
   font-family: 'AugustSans-66MediumItalic';
   font-display: swap;
   src: url('file:///Users/deleteduser2834/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2021-02-26_173644/fonts/AugustSans-66MediumItalic/font.ttf');
}
